body{
    margin-bottom: 44px;
}

.basketBody{
    font-family: 'Roboto Flex', sans-serif;
    background: #c82929;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 600px;

}

.basketHeader {
    margin-bottom: 77px;
    width: 103px;
    height: 30px;
    margin: 15px 0 15px 0;
    p{
        font-weight: 400;
        font-size: 24px;
    }
}

.cart {
    background: #3d3636;
    border-radius: 10px;
    width: 600px;
    height: 120px;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    img{
        width: 100px;
        height: 84px;

    }
}