.category {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    &Title {
        width: 100%;
        font-size: 26px;
        color: white;
        margin-top: 10px;
        margin-left: 20px;
        text-decoration: none;
        font-weight: bold;
        font-family: sans-serif;
    }
    &Image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
}