.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
    max-width: 40vw;
    margin-left: 30vw;
    width: 100%;
    margin-top: 20px;
}
@media (max-width: 756px) {
    .categories {
        grid-template-columns: 1fr 1fr;
        max-width: 80vw;
        margin-left: 10vw;
    }
}