.main {
   position: relative;
    height: 157px;
    width: 162px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    margin: 5px;

}
.img{
    position:static
    ;
    display: block;
    width: 100%;
    height:100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;

}
.itemName{
    position: absolute;

    z-index: 1;
    top: 10px;
    margin-left: 5px;
    margin-top: 4px;
}