.container {
  max-width: 380px;
  height: 60px;
  margin-top: 15px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    width: 45px;
    height: 45px;
  }
}

.contact {
  span {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #111111;
  }

  .numberPhone {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ff9846;
  }
}

.headerTime {
  text-align: center;
  img {
    height: 15px;
    width: 15px;
  }
  .txt {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a4acad;
  }
}

.titleSearch {
  img {
    height: 30px;
    width: 30px;
  }
}
